.public-DraftEditor-content {
	min-height: 122px;
	padding: 8px 16px;
	font-size: 14px;
}
.public-DraftEditorPlaceholder-root {
	padding: 8px 16px;
	font-size: 14px;
}

.public-DraftStyleDefault-pre {
	background: var(--color-bg-secondary);
	font-family: monospace;
	font-size: 13px;
	padding: 8px;
	margin: 8px 0;
}

h1 {
	font-size: 2em;
}

/* blockquote {
	padding: 12px;
	position: relative;
}

blockquote::before {
	background: #1c1c1c33;
	width: 4px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	border-radius: 4px;
} */
